/* Write your CSS here */

.list-item {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  width: 40vw;
  border: solid #ffffff;
  margin: 12px;
 padding: 33px;
  border-radius: 23px;
}
.team-item {
  text-decoration: none;
  color: #ffffff;

 
}

.img {
  height: 9vh;
}
