/* Write your CSS here */

.list-item {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  width: 40vw;
  border: solid #ffffff;
  margin: 12px;
}

.img {
  height: 9vh;
}
