/* Write your CSS here */

.bg {

  height: 100vh;
  
  background-size: cover;

  display: flex;

  flex-direction: column;
  
  justify-content: center;
  
  align-items: center;
  
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');






}

.list {
  display: flex;
  flex-wrap: wrap;
}

