/* Write your CSS here */

.bg {
  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  background-size: cover;

  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo-img {
  font-size: 23px;
}

.loader{


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}