/* Write your CSS here */
.match-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px;
  list-style-type: none;
  color: #ffffff;
}
.latest {
  margin-top: 23px;
}
.chart {
     
display: flex;
flex-direction: row;
justify-content: center;

}
